@charset "utf-8";

.details-dog{
    width: 500px;
    height: 25px;
    margin: 50px 83px;
    z-index: 20;
    position: relative;
}
.details-dog span{
    margin-right:10px;
    line-height: 25px;
    padding: 5px 13px;
    
}
.details-dog span:not(:last-child){
    border: 1px solid #DDDDDD;
}
.details-dog i{
   font-size: 8px;
   color: #AAAAAA;
}
.details-dog-span-1{
    display:none;
    position: absolute;
}
.details-dog-span-1{
 border:1px solid #DDDDDD;

}
.details-dog-span:hover .details-dog-span-1{
    display: block;
}
.details-dog-span-1 a{
    padding: 0 9.5px;
}
.details-dog-span-1 a:hover{
    background: rgb(160, 159, 159);
    color: white;
}
*{
	margin: 0;
	padding: 0;
}

/*主容器*/
.con-FangDa{
	width: 300px;
	height: auto;
	margin-left: 100px;
	background-color:#fff;
	float: left;

}
/*正常容器*/
.con-fangDaIMg{
	width: 300px;
	height: 450px;
	position: relative;
	background-color: #454545;
}
.con-fangDaIMg > img{
	width: 100%;
	height:100%
}
/*滑块*/
.magnifyingBegin{
	width: 150px;
	height: 175px;
	left: 0;
	top: 0;
	background-color: #454545;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	cursor: move;
	display: none;
}
/*放大镜显示区域*/
.magnifyingShow{
	width: 450px;
	height: 514px;
	display: none;
	position: absolute;
	right: -470px;
	top: 0;
    overflow: hidden;
    z-index:20;
}
.magnifyingShow > img{
	width: 900px;
	height: 1300px;
	margin-left:0;
	margin-top: 0;
}
/*设置选择图片容器*/
.con-FangDa-ImgList{
	margin-top:10px;
	height:54px;
	width:320px;
	list-style: none;
}
.con-FangDa-ImgList > li{
	margin-right:7px;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
	border: 1px solid rgb(184, 181, 181);
	text-align:center;
}

.con-FangDa-ImgList > li > img{
	vertical-align:top;
	display:inline-block;
	width:auto;
	height:45px;
}
.con-FangDa-ImgList > .active{
	border-color:#4C9605;
}
.details-dog-right{
	width: 747px;
	height:654px;
	margin-top:-40px;
	float: left;
	margin-left:150px;
}
.gddes {
    width: 667px;
    padding: 40px;
    margin: 0 0 0 3px;
    background: #fcfcfc;
}
.c333 {
    color: #333;
}

.bold {
    font-weight: 700;
}

.ft18 {
    font-size: 18px;
}
b, h1, h2, h3 {
    font-weight: 400;
}
.cred {
    color: red;
}
.c93c {
    color: #e3393c;
}

.mt, .mtop10 {
    margin-top: 10px;
}
.ft14 {
    font-size: 14px;
}

.epet-pprice {
    background: url(../images/price-bg.jpg) no-repeat;
    height: 100px;
	background-size: 100% 100%;
    background: rgb(240, 234, 234);
   
}

.pad20 {
    padding: 20px;
}
.mt15 {
    margin-top: 15px;
}
.mt5 {
    margin-top: 5px;
}
.c999 {
    color: #999;
}
.mt20, .mtop20 {
    margin-top: 20px;
}
.c93c {
    color: #e3393c;
}

.ft20 {
    font-size: 20px;
}
.goods-font {
    font-size: 34px;
}

.c93c {
    color: #e3393c;
}
.e-plus {
    margin: 10px 0 0 55px;
}

.ft15 {
    font-size: 15px;
}
.gdtable {
    border-bottom: 1px #d1d1d1 dashed;
}

.pb10 {
    padding-bottom: 10px;
}
.db {
    display: block;
}
.gddes .norms-con {
    width: 589px;
}

.norms-con {
    width: 457px;
	margin-left: 5px;
	float: left;
}
.gdtable {
    border-bottom: 1px #d1d1d1 dashed;
}

.pb10 {
    padding-bottom: 10px;
}
.pt10 {
    padding-top: 10px;
}
.gdattr div.ats-style, .gdattr div.ats-style:visited {
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    border: 1px #fbfbfb solid;
    text-decoration: none;
}

.mt5 {
    margin-top: 5px;
}
.ml20 {
    margin-left: 20px;
}
.ce54649 {
    color: #e54649;
}
.c78b300 {
    color: #78b300;
}
.pointer {
    cursor: pointer;
}
.quality-assurance-con li:first-child {
    padding-left: 0;
    border-left: none;
}

.quality-assurance-con li {
    padding: 0 15px;
    /* border-left: 1px solid #d7d7d7; */
    position: relative;
    z-index: 1;
}
.quality-assurance-con li img {
    width: 20px;
    height: 20px;
}

img {
    vertical-align: middle;
}
.qa-tc {
    position: absolute;
    left: 0px;
    top: 0;
    width: 253px;
    z-index: 1;
}

.hide, .shide {
    display: none;
}
.qa-tc .qa-tccon {
    margin-top: 24px;
    border: 1px solid #e5e2e8;
    box-shadow: 0px 1px 8px #e6e6e6;
    padding: 15px 10px;
}


.qa-tc .qa-sj, .qa-tc em {
    position: absolute;
    border-width: 8px;
    font-size: 0;
    line-height: 0;
}

.qa-tc em {
    top: 9px;
    left: 40px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #ccc transparent;
}
.qa-tc .qa-sj {
    top: 10px;
    left: 40px;
    border-style: dotted solid solid solid;
    border-color: transparent transparent #fff transparent;
}

.qa-tc .qa-sj, .qa-tc em {
    position: absolute;
    border-width: 8px;
    font-size: 0;
    line-height: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.gddes .norms-con {
    width: 589px;
    margin-left:20px;
}

.norms-con {
    width: 457px;
    margin-left: 50px;
}
.norms-con .cgnum {
    display: inline-block;
    border: #b2b2b2 solid 1px;
}
.norms-con .chgnum {
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 15px;
    display: block;
    float: left;
    border: #fff solid 1px;
    /* background: #f3f3f3; */
    text-align: center;
}
.norms-con .buynum {
    font-size: 12px;
    width: 50px;
    height: 32px;
    float: left;
    text-align: center;
    border: #f3f3f3 solid 1px;
    /* background: #fff; */
}
.epet_sensor_add_cart{
    margin-left:50px;
}
.gddes .gdtable.sent-city {
    border-bottom: 1px dashed #d7d7d7;
    padding: 5px 0 10px;
}
.gdtable.sent-city {
    border: none;
    width: auto;
    overflow: inherit;
}
.gdtable .div-sentcity {
    border: none;
    padding: 0;
    height:50px;
}

.rela, .rel {
    position: unset;
}
.goods-place-div {
    padding: 5px 15px 5px 5px;
    line-height: 20px;
    width: auto;
    min-width: 50px;
}


.place-show .place-str {
    border: 1px solid #ddd;
    padding: 5px 15px 5px 5px;
    line-height: 20px;
    width: auto;
    cursor: pointer;
    margin-top:-70px;
    z-index:- 1;
}
.place-hide {
    margin-top: -2px;
    position: absolute;
    /* z-index: 20; */
    top: 33px;
    left: 0;
    /* background: transparent; */
    line-height: 15px;
    min-height: 270px;
}
.place-div .citys {
    width: 400px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 5px 5px 15px;
    position: relative;
}
.place-div .place-header {
    width: 100%;
    height: 25px;
    display: inline-block;
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;
}
.place-div .place-header li.current {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.place-div .place-header li {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: inline-block;
    line-height: 24px;
    font-size: 12px;
    color: #888;
    width: 70px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.place-header li {
    /* background: #f6f6f6; */
    border: 1px solid #ddd;
    border-bottom: 0;
    
    
}
a {
    text-decoration: none;
    color: #444;
}
.addcart-div {
    width: 190px;
    height: 56px;
}
.addcart-div a {
    width: 100%;
    height: 100%;
    line-height: 56px;
    border-radius: 3px;
    background: #78b300;
    cursor: pointer;
}
.fl {
    float: left;
}
