@charset "UTF-8";
body{
    width: 100%;
    margin: 0 auto;
}
/* 阿里图标 */
@font-face {
    font-family: 'iconfont';  /* project id 945443 */
    src: url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.eot');
    src: url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.woff') format('woff'),
    url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_945443_xrrm4nt01sc.svg#iconfont') format('svg');
  }
.iconfont{
    font-size: 20px;
}
.content {
    text-align: center;
    min-width: 990px;
    margin-top:50px;
}
.scroll{
    width: 990px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.scroll p{
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    color: #222;
    font-family: Microsoft Yahei;
    display: block;
    position: relative;
}
/* 公共样式 */
.flash-wrapper {
    position: relative;
}
.btn-box{
    line-height: 308px;
}
.flash-wrapper .btn{
    display: block;
    width: 95px;
    height: 75px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.flash-wrapper .prev {
    background: url("/images/arr_left.png") no-repeat center center;
    background-color: black;
    opacity: 0.6;
    border-radius: 15px;
}
.flash-wrapper .next {
    right: 0px;
    background: url("/images/arr_right.png") no-repeat center center;
    background-color: black;
    opacity: 0.6;
    border-radius: 15px;
}

.flash-wrapper .idot-box {
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    bottom: -57px;
}
/* .idot-box img{
    position: absolute;
    float: left;
} */
.flash-wrapper .idot {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(245, 155, 155);
    border: 1px solid rgb(245, 155, 155);
    margin: 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all .25s linear;
    position: relative;
}
.flash-wrapper .idot:hover {
    background: #fff;
}
.flash-wrapper .idot.selected {
    background: #fff;
    width: 50px;
    height: 50px;
}
.flash-wrapper img {
    width: 990px;
    vertical-align: middle;
}
/* 滚动效果 */
.scroll-flash-wrapper .img-box {
    width: calc(8 * 100%);
    font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
}
.scroll-flash-wrapper img {
    width: calc(100% / 8);
}
/* tab选项卡 */
.main_1{
    width: 990px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top:80px;
}
.main_1 p{
    height: 120px;
    line-height: 90px;
    font-size: 24px;
    color: #222;
    font-family: Microsoft Yahei;
    display: block;
    position: relative;
}
.main_1 p a{
    font-size: 12px;
    color: gray;
    float: right;
}
/* tab选项卡 */
.tab_2{
    width: 100%;
    height: 173px;
    background: white;
}
.tab_2 ul{
    height: 45px;
    line-height: 45px;
}

.tab_2 ul li a{
    font-size: 14px;
    color: #666;
    padding: 5px 15px;
}
.backr{
    background: #FF3232;
    color: white !important;
}
.fruit{
    background: #FF3232;
    color: white !important;
}
.tab_2 ul li:hover a{
    background: #FF3232;
    color: white;
}
.block{
    display:block;
}
.none{
    display: none;
}
.ul_tex{
    width: 970px;
    height: 117px;
     display: none; 
     margin-left: -10px;
}
.ul_tex_1{
    float: left;
    width: 100%;
    height: 117px;
    /* position: relative; */
    line-height: 117px;
    margin-top:0px;
    margin-left: -10px;
    display: block;
}
 .tab_li_1 img{
    width: 117px;
    height: 117px;
}
.tab_li_1{
    width: 117px;
    height: 117px;
    margin-top: -20px;
}
.tab_li_1 p{
    font-size: 12px;
    background: rgb(235, 225, 225);
    opacity: 0.7;
    margin-top:-100px;
    color: rgb(36, 30, 30);
    height: 30px;
    line-height: 30px;
    margin-top: -30px;
    width: 100%;
}
.tab_li_1 p font{
    float: left;
    color: #333;
    cursor: pointer;
}
.tab_li_1 p font:hover{
   color: #ff3232;
    text-decoration: underline;
}
em.notz {
    background: #999;
    height: 10px;
    width: 10px;
    overflow: hidden;
    margin: 9px;
    display: inline-block;
    vertical-align: top;
    float: left;
}
.main_2{
    width: 990px;
    height: auto;
    margin-top:0;
}
.main_2 p{
    height: 70px;
}
.main_2_div{
    width: 990px;
    height: 710px;
    position: relative;
}
.main_2_div li{
    float:left;
    height: 335px;
    width: 233px;
    margin-left: 12px;
    margin-top:20px;
    background: white;
    position: relative;
}
.main_2_div li .hover_img{
    width: 233px;
    height: 233px;
}
.main_2_div li .hover_img{
    transition:0.5s;
    width: 100%;
    display: block;
    line-height: 0;
}

.move_div{
    transition: 0.5s;
}
.main_2_div li:hover .move_div{
    opacity: 0;
}
.main_2_div li .p1{
    font-size: 14px;
    font-weight: bold;
    margin-top:-30px;
    margin-left: 10px;
    text-align: left;
}
.main_2_div li .p2{
    font-size: 12px;
    color: gray;
    margin-top:-20px;
    margin-left: 10px;
    text-align: left;
}
.main_2_div li .p3{
    font-size: 12px;
    margin-top: -20px;
    color: #FF3232;
    margin-left: 10px;
    text-align: left;
}
.main_2_div li p{
    height: 33.3px;
}
.main_2_div li .p4{
    width: 70px;
    height: 32px;
    background: #60A531;
    font-size: 14px;
    color: white;
    float: right;
    margin-top: -220px;
    line-height: 32px;
    margin-right:-6px;
    position: relative;
}
.p4_img{
    float: right;
    margin-left:50px;
}
.main_2_div .p5{
    color: black;
    font-size: 14px;
    height: 20px;
    line-height: 50px;
}
.main_2_div a{
    border: 1px solid #DDDDDD;
    float: left;
    padding: 2px 7px;
    margin-top:42px;
    margin-left: 18px;
    font-size: 14px;
    background: #FCFCFC;
    color: #666666;
}
.main_2_div a:hover{
    background: #FF3232;
    color: white;
}
.main_3_div{
    width: 100%;
    height: 360px;
    margin-top:-50px;
}
.img_1{
    display: none;
}
.main_3_div img{
    width: 160px;
    height: 160px;
    position: absolute;
}
.div_1_1{
    float: right;
    width:70%;
}
.div_1{
    width: 485px;
    height: 160px;
    background: white;
    float: left;
    margin-left: 10px;
    margin-top:20px;
}
.div_1 .span_div{
 text-align: right;
 height: 33.3%;
 width: 90%;
 border-bottom: 1px solid #EEEEEE;
 float: right;
 line-height: 45px;
 text-align: left;
 font-size: 14px;
 color: #666;
}
.div_1 .span_div:nth-child(1){
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.div_1 .span_div:hover{
    text-decoration: underline;
    color: #ff3232;
    font-weight: bolder;
    font-size: 16px;
}
.safe{
    display: inline-block;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    padding: 0px 14px;
    color: #fff;
    background: #60a531;
    top: -144px;
    right: -115px;
    position: relative;
    z-index: 100;
    font-size: 14px;
}
.safe:hover{
    text-decoration: underline;
    color: #FF3232;
    cursor: pointer;
}
.safe img{
    height: 6px;
    width: 6px;
    position: absolute;
    right: -6px;
    display: inline-block;
}

/* 二 */
.div_2{
    width: 485px;
    height: 160px;
    background: white;
    float: left;
    margin-left: 10px;
    margin-top:20px;
}
.div_2 .span_div_1{
    text-align: right;
    height: 33.3%;
    width: 90%;
    border-bottom: 1px solid #EEEEEE;
    float: right;
    line-height: 45px;
    text-align: left;
    font-size: 14px;
    color: #666;
}
.block{
    display: block;
}
.div_2 .span_div_1:nth-child(1){
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.div_2 .span_div_1:hover{
    text-decoration: underline;
    color: #ff3232;
    font-weight: bolder;
    font-size: 16px;
}
/* 三 */
.div_3{
    width: 485px;
    height: 160px;
    background: white;
    float: left;
    margin-left: 10px;
    margin-top:15px;
}
.div_3 .span_div_2{
 text-align: right;
 height: 33.3%;
 width: 90%;
 border-bottom: 1px solid #EEEEEE;
 float: right;
 line-height: 45px;
 text-align: left;
 font-size: 14px;
 color: #666;
}
.div_3 .span_div_2:nth-child(1){
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.div_3 .span_div_2:hover{
    text-decoration: underline;
    color: #ff3232;
    font-weight: bolder;
    font-size: 16px;
}

/* 四 */
.div_4{
    width: 485px;
    height: 160px;
    background: white;
    float: left;
    margin-left: 10px;
    margin-top:15px;
}
.div_4 .span_div_3{
 text-align: right;
 height: 33.3%;
 width: 90%;
 border-bottom: 1px solid #EEEEEE;
 float: right;
 line-height: 45px;
 text-align: left;
 font-size: 14px;
 color: #666;
}
.div_4 .span_div_3:nth-child(1){
    font-size: 16px;
    font-weight: bolder;
    color: black;
}
.div_4 .span_div_3:hover{
    text-decoration: underline;
    color: #ff3232;
    font-weight: bolder;
    font-size: 16px;
}



/* hover */
.chufang_hide_div{
    width: 233px;
    height: 103px;
    z-index: 1000;
    position: absolute;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    margin-top:30px;
    text-align: left;
}
.chufang_hide_div ul{
    margin: 0;
    padding: 0;
    width: 233px;
    height: 103px;
    background: #eee;
}
.chufang_hide_div ul li{
    float: left;
    height: 32px;
    width: 208px;
    background: url(https://s1.c.meishij.net/n/images/list_style1_icons.png) no-repeat;
    text-indent: 32px;
    line-height: 32px;
    color: #666;
    font-size: 14px;
    margin-top:10px;
}
.chufang_hide_div ul li:nth-child(1){
    background-position: -9px -126px;
}
.chufang_hide_div ul li:nth-child(2){
    background-position: -9px -44px;
}
.main_2_div li:hover .chufang_hide_div{
    margin-top:-68px;
    opacity: 1;
    z-index: 1;
}
