body{
    background:url('../img/back5.jpg')no-repeat top center;
    /* height: 700px; */
    background-size: 100% 655px;
    margin: 0 auto;
}
.img_1{
    margin-left: 30%;
    position: absolute;
    /* height: 100%; */
    /* width: 55%; */
    /* margin-top: 10%; */
    height: 60%;
    /* box-shadow: 0 0 50px rgb(166,124,64) */
}
.logo{
    position: absolute;
    width: 15%;
    height: 25%;
    left: 42%;
}
.img_2{
    margin-top: -300px;
}
.img_3{
    position: absolute;
    left: 0;
    bottom: 0;
}
.img_4{
    position: absolute;
    right: 0;
    bottom: 0;
}
.img_5{
    /* margin-top: 5%; */
    /* margin-left: 10%; */
    /* width: 40%;
    height: 50%; */
}
.img_6{
    margin-left: -100px;
}
p{
    position: absolute;
    left: 23%;
    font-family: '黑体';
    font-weight: bolder;
    font-size: 70px;
    color: #E3DE22;
    /* background: white; */
    text-shadow:5px 5px black;
    top: 76%;
}
