@charset "utf-8";
* {
    box-sizing: border-box;
}
html,body {
    margin: 0 auto;
    font: 16px sans-serif;
    min-width: 100px;
}
@media (max-width: 650px) {
    .top{
        width: 50%;
        display: inline-block;
    }
    .top-1{
        width: 100%;
        display: inline-block;
    }
}


input,select,button,textarea {
    font: inherit;
    outline: none;
}
select,button {
    cursor: pointer;
}



.top{
    width: 100%;
    animation: lunbo 10s infinite;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
   list-style: none;
    padding: 0;
    z-index: 1;
}


.logo {
    color: #fff;
    letter-spacing: 3px;
    font-size: 37px;
    cursor: pointer;
    transition: all .45s ease-in-out;
    margin-top: -887px;
    margin-left: 125px;
    position: absolute;
    height: 85px;
    z-index: 1;

}
/*导航*/
.nav{
    float: right;
    margin-left: 370px;
    margin-top: -45px;
    height: 85px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin-left: 15px;
}
.nav ul li a{
    text-decoration: none;
    transition: all .45s ease-in-out;
    letter-spacing: 1px;
    color: #fff;
    font-size: 18px;
}
.nav ul li a:hover{
    color: #F64D26;
}
.logo > .logo-1:hover{
    color: #F64D26;
}
/*框*/
.top-1{
    width: 50%px;
    height: 270px;
    border: 8px solid white;
    background:transparent;
    z-index: 1;
    margin-left:400px;
    margin-top: -600px;
    position: absolute;
    box-sizing: border-box;
}
.title{
    font-size: 63px;
    font-weight: bolder;
    letter-spacing: 16px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.38);
    text-align: center;
    color: white;
    margin-top: 40px;
}
.content{
    width: 450px;
    color: white;
    text-align: center;
    margin-left: 30px;
    margin-top: -30px;
}
/*内容*/
.main{
    width: 100%;
    margin-top: -20px;
}
.main-1{
    width: 1200px;
    height: 630px;
    text-align: center;
   margin-left: 70px;
    display: inline-block;
}
.p1{
    color: #333;
    font-size: 37px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    position: relative;
    margin-top: 100px;
    font-weight: bolder;
}
.p2{
    color: #666;
    margin: 60px 0;
    font-size: 30px;
    font-weight: bold;
}
.p3{
    color: #666;
    letter-spacing: 2px;
    line-height: 30px;
}
hr{
    width: 120px;
    height: 1px;
    position: absolute;
    left: 45%;
    margin-top: -20px;
}
ul{
    list-style: none;
    margin-top: 25px;
    margin-left: -80px;
}
ul li{
    display: inline-block;
    margin-left: 50px;
}
.text{
    display: block;
    padding-top: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #000;
}

.list{
    width: 100%;
    height: 785px;
    background: #F95833;
    text-align: center;
    position: absolute;
}
.h1{
    color: #fff;
    margin-bottom: 35px;
    font-size: 37px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
    left: 43%;
    height: 90px;
    margin-top: 90px;
}
.hr-2{
    margin-top: -70px;
    width: 120px;
    height: 1px;
    color: black;
    display: inline-block;
    left: 46%;
}
.list-3{
    width: 1200px;
    text-align: center;
    margin-left: -18px;
    display: inline-block;
    margin-top: -60px;
}

.list-1 li{
    margin-top: 20px;
    margin-left: 75px;
}

.title-1{
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    padding: 19px 0px;
    margin-top: -8px;
}
.p4{
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
    margin-top: -18px;
}
/*特效*/
.p1{
    text-align: center;
}
.all{
    width: 100%;
    height: 920px;
    margin-top: 785px;
    z-index: 1;
}
.img-9{
    width: 1100px;
    height: 920px;
    margin-left: 120px;
    position: absolute;
}
.tupian .img-1{
    width: 353px;
    height: 220px;
    float: left;
    z-index: 100;

}
.tupian{
    margin-left: -54px;
}
.li1{
    position: relative;
    margin-left:15px;
    overflow: hidden;
}
.overlay{
    width: 353px;
    height: 220px;
    color: #fff;
    transform: translate(300px, -150px) rotateZ(-90deg);
    transition: all .4s linear;
    opacity: 0; 
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.li1:hover .overlay{
    transform: translate(0px,0px) rotateZ(0deg);
    opacity: 1;
}
.overlay > h1 {
    height: 40px;
    background: rgba(0, 0, 0, .75);
    font-size: 17px;
    line-height: 40px;
    margin: 0;
}
.overlay > p {
    height: calc(100% - 40px);
    background: rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0;
}


/* 团队 */
.team  {
    background: #f9461d;
    margin-top:70px;
    height: 675px;
    text-align: center;
}
.team .info-list {
    display: flex;
    margin-left:65px;
    margin-top:100px;
}

.team .info-list > li {
    box-sizing: border-box;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
    text-align: left;
    height: 400px;
    width:260px;
    margin-left:17px;
}
.team .info-list img {
    width: 100%;
}
.team .info-list .name {
    margin: 16px 0;
    font-size: 19px;
    color: rgb(84, 75, 75);
}
.team .info-list .des {
    letter-spacing: 2px;
    color: #686462;
    font-size: 14px;
    line-height: 1.6;
}
.team .icons {
    margin: 16px 0;
    display: flex;
    justify-content: space-around;
}
.team .icons i {
    display: block;
    width: 30px;
    height: 40px;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    transition: all .35s linear;
}
.team .icons i:hover {
    border-radius: 50%;
    color: #fff;
    background: purple;
}